// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include "keys_sv.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        ht: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            flavor = "tap-preferred";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭────────────┬──────────────┬──────────┬───────────┬───────────╮   ╭────────────┬──────────┬───────────┬──────────┬────────────╮
        //│  Q         │  W           │  E       │  R        │  T        │   │  Y         │  U       │  I        │  O       │  P         │
            &kp Q        &kp W          &kp E      &kp R       &kp T           &kp Y        &kp U      &kp I       &kp O      &kp P
        //├────────────┼──────────────┼──────────┼───────────┼───────────┤   ├────────────┼──────────┼───────────┼──────────┼────────────┤
        //│  A         │  S           │  D       │  F        │  G        │   │  H         │  J       │  K        │  L       │            │
            &kp A        &kp S          &kp D      &kp F       &kp G           &kp H        &kp J      &kp K       &kp L      &kp BSPC
        //├────────────┼──────────────┼──────────┼───────────┼───────────┤   ├────────────┼──────────┼───────────┼──────────┼────────────┤
        //│  Z         │  X           │  C       │  V        │  B        │   │  N         │  M       │  ,        │  .       │            │
            &mt LWIN Z   &mt LSHIFT X   &kp C      &kp V       &kp B           &kp N        &kp M      &kp COMMA   &kp DOT    &kp ENTER
        //╰────────────┴──────────────┴──────────┼───────────┼───────────┤   ├────────────┼──────────┼───────────┴──────────┴────────────╯
                                                   &kp LCTRL   &kp SPACE       &kp LSHIFT   &to 1
        //                                       ╰───────────┴───────────╯   ╰────────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────────┬───────────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬─────────────┬──────────────┬─────────────┬──────────╮
        //│  ESC         │  @                │  #           │  $           │  %           │   │  CARET       │  &          │  *           │  \          │          │
            &kp ESC        &kp SV_AT           &kp SV_HASH    &kp SV_DLLR    &kp SV_PRCNT       &kp SV_CARET   &kp SV_AMPS   &kp SV_ASTRK   &kp SV_BSLH   &to 3
        //├──────────────┼───────────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
        //│  TAB         │  =                │  !           │  -           │  "           │   │  /           │  {          │  }           │  |          │          │
            &kp TAB        &kp SV_EQUAL        &kp SV_EXCL    &kp SV_MINUS   &kp SV_DQT         &kp SV_FSLH    &kp SV_LBRC   &kp SV_RBRC    &kp SV_PIPE   &trans
        //├──────────────┼───────────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
        //│  ~           │  £                │  ?           │  +           │  '           │   │  [           │  (          │  )           │  ]          │          │
            &kp SV_TILDE   &kp SV_POUND_SIGN   &kp SV_QMARK   &kp SV_PLUS    &kp SV_SQT         &kp SV_LBKT    &kp SV_LPAR   &kp SV_RPAR    &kp SV_RBKT   &trans
        //╰──────────────┴───────────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼─────────────┼──────────────┴─────────────┴──────────╯
                                                              &to 0          &trans             &trans         &to 2
        //                                                  ╰──────────────┴──────────────╯   ╰──────────────┴─────────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭────────────┬──────────┬──────────┬───────────┬──────────╮   ╭──────────────┬──────────┬──────────┬──────────┬──────────────╮
        //│  ESC       │          │          │           │          │   │  +           │  7       │  8       │  9       │  -           │
            &kp ESC      &kp INS    &kp HOME   &kp PG_UP   &trans         &kp SV_PLUS    &kp N7     &kp N8     &kp N9     &kp SV_MINUS
        //├────────────┼──────────┼──────────┼───────────┼──────────┤   ├──────────────┼──────────┼──────────┼──────────┼──────────────┤
        //│  TAB       │          │          │           │          │   │  =           │  4       │  5       │  6       │              │
            &kp TAB      &kp DEL    &kp END    &kp PG_DN   &trans         &kp SV_EQUAL   &kp N4     &kp N5     &kp N6     &trans
        //├────────────┼──────────┼──────────┼───────────┼──────────┤   ├──────────────┼──────────┼──────────┼──────────┼──────────────┤
        //│  SUPER     │          │          │           │          │   │  0           │  1       │  2       │  3       │              │
            &mt LWIN Z   &trans     &trans     &trans      &to 4          &kp N0         &kp N1     &kp N2     &kp N3     &trans
        //╰────────────┴──────────┴──────────┼───────────┼──────────┤   ├──────────────┼──────────┼──────────┴──────────┴──────────────╯
                                               &to 0       &trans         &trans         &to 1
        //                                   ╰───────────┴──────────╯   ╰──────────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭─────────────┬──────────┬──────────┬────────────┬──────────────╮   ╭──────────┬──────────┬──────────┬───────────┬─────────────╮
        //│  RESET      │          │          │            │  PROFILE 0   │   │          │          │          │           │  RESET      │
            &sys_reset    &trans     &trans     &trans       &bt BT_SEL 0       &trans     &trans     &kp UP     &trans      &sys_reset
        //├─────────────┼──────────┼──────────┼────────────┼──────────────┤   ├──────────┼──────────┼──────────┼───────────┼─────────────┤
        //│  BOOTLOADER │          │          │            │  PROFILE 1   │   │          │          │          │           │  BOOTLOADER │
            &bootloader   &trans     &trans     &trans       &bt BT_SEL 1       &trans     &kp LEFT   &kp DOWN   &kp RIGHT   &bootloader
        //├─────────────┼──────────┼──────────┼────────────┼──────────────┤   ├──────────┼──────────┼──────────┼───────────┼─────────────┤
        //│             │          │          │  CLEAR BT  │  PROFILE 2   │   │          │          │          │           │             │
            &trans        &trans     &trans     &bt BT_CLR   &bt BT_SEL 2       &trans     &trans     &trans     &trans      &trans
        //╰─────────────┴──────────┴──────────┼────────────┼──────────────┤   ├──────────┼──────────┼──────────┴───────────┴─────────────╯
                                                &to 0        &trans             &trans     &to 1
        //                                    ╰────────────┴──────────────╯   ╰──────────┴──────────╯
            >;
        };

        gaming_layer {
            bindings = <
        //╭────────────┬────────┬────────┬───────────┬───────────╮   ╭────────┬────────┬────────┬────────┬────────╮
        //│            │        │        │           │           │   │        │        │        │        │        │
            &kp ESC      &kp Q    &kp W    &kp E       &kp R           &trans   &trans   &trans   &trans   &trans
        //├────────────┼────────┼────────┼───────────┼───────────┤   ├────────┼────────┼────────┼────────┼────────┤
        //│            │        │        │           │           │   │        │        │        │        │        │
            &kp TAB      &kp A    &kp S    &kp D       &kp F           &trans   &trans   &trans   &trans   &trans
        //├────────────┼────────┼────────┼───────────┼───────────┤   ├────────┼────────┼────────┼────────┼────────┤
        //│            │        │        │           │           │   │        │        │        │        │        │
            &kp LSHIFT   &kp Z    &kp X    &kp C       &kp V           &trans   &trans   &trans   &trans   &trans
        //╰────────────┴────────┴────────┼───────────┼───────────┤   ├────────┼────────┼────────┴────────┴────────╯
                                           &kp LCTRL   &kp SPACE       &trans   &to 0
        //                               ╰───────────┴───────────╯   ╰────────┴────────╯
            >;
        };
    };
};
